.panel,
.amount,
.search-engine {
  display: flex;
}

.panel {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background: #302C5D;
  color: #fff;
  border-bottom: 1px solid #493072;
}
.panel .toggler {
  font-family: 'Spectral', serif;

}

.amount {
  color: rgb(172, 223, 172);
}
.search-engine {
  align-items: center;
  justify-content: center;
}


.search-engine input {
 height: 40px;
 outline: none;
 padding: 0 10px;
 color: #302C5D;
 font-size: 15px;
 border: none;
 border-radius: 3px;
}

.search-engine input::placeholder {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}


.toggler {
  display: flex;
  color: lightgrey;
  width: 150px;
  padding: 5px;
  cursor: pointer;
  background: #493072;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 2px;
}

.toggler:hover {
  background-color: darkgreen;
}

.toggler img {
  margin-right: 10px;
}

.toggler div {
  display: flex;
  align-items: center;
}




/* ================ RESPONSIVE ================== */


@media only screen and (max-width: 768px) {

  .panel {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .toggler {
    height: 40px;
    width: 130px;
    padding: 12px 8px;
    font-weight: bolder;
  }

  .toggler div {
    padding: 8px 0;
    font-size: 16px;
  }

  .toggler img {
    display: none;
  }

  .search-engine form {
    width: 150px;
  }


  .search-engine input {
    width: 100%;
    height: 40px;
  }

  .search-engine input::placeholder {
    font-size: 12px;
    color: grey;
    font-weight: 400;
  }
}

@media only screen and (max-width: 540px) {
  .panel {
    flex-direction: column;
  }

  .toggler {
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 414px) {
  .panel {
    flex-direction: column;

  
  }

  .toggler {
    height: 30px;
    width: 130px;
    margin-bottom: 10px;
    padding: 12px 8px;
    font-weight: bolder;
  }
  .toggler div {
    padding: 8px 0;
    font-size: 16px;
  }

  .toggler img {
    display: none;
  }

  .search-engine {
    margin-bottom: 10px;
  }

  .search-engine form {
    width: 150px;
  }

  .panel {
    padding: 0;
    justify-content: center;
  }

  .search-engine input {
    width: 100%;
    height: 30px;
  }

  .search-engine input::placeholder {
    font-size: 12px;
    color: grey;
    font-weight: 400;
  }
}




@media only screen and (max-width: 375px) {
  .panel {
    flex-direction: column;
  }

  .toggler {
    height: 25px;
    width: 120px;
    margin-bottom: 10px;
    padding: 12px 8px;
    font-weight: bolder;
  }

  .toggler div {
    padding: 8px 0;
    font-size: 14px;
    letter-spacing: 0.8px;
  }

  .toggler img {
    display: none;
  }

  .search-engine {
    margin-bottom: 10px;
  }

  .search-engine form {
    width: 150px;
  }

  .panel {
    padding: 0;
    justify-content: center;
  }

  .search-engine input {
    width: 100%;
    height: 30px;
  }

  .search-engine input::placeholder {
    font-size: 12px;
    color: grey;
    font-weight: 400;
  }
}



@media only screen and (max-width: 320px) {
  .panel {
    flex-direction: column;
  }

  .toggler {
    display: none;
  }

  .search-engine {
    margin-bottom: 10px;
  }

  .search-engine form {
    width: 150px;
  }

  .panel {
    padding: 0;
    justify-content: center;
  }

  .search-engine input {
    width: 100%;
    height: 30px;
  }

  .search-engine input::placeholder {
    font-size: 12px;
    color: grey;
    font-weight: 400;
  }
}









