.flex {
  display: flex;
}

.align__center {
  align-items: center;
}

.justify__center {
  justify-content: center;
}


.listroom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.amount {
  padding: 10px 0 10px 5px;
  font-size: 20px;
  font-weight: 300;
}

.amount p {
  padding-left: 10px;
}



.flat {
  width: 100%;
  display: flex;
  background:#16b93a;
  color: #f4f4f2;
  padding: 12px 0;
  border-left: 1px solid #fff;
}


.flat-cell {
  width: 25%;
  display: flex;
  padding-left: 10px;
}

.repos {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.avatar {
  width: 50px;
  height: 50px;
}

.cell {
  width: 25%;
  border-left:  1px solid #fff;
  border-right:  1px solid gainsboro;
  border-bottom:  1px solid gainsboro;
}

.avatar__div,
.name,
.type,
.repos {
  padding-left: 10px;
}

.name a {
  text-decoration: none;
  color:  rgb(109, 88, 88);
}

.name a:hover {
  color: rgb(39, 25, 25);
}


